<section class="py-12 mx-4 px-5" id="servicios">
    <div class="container mx-auto px-4 text-center ">
      <p class="text-3xl font-bold text-negro mb-8">
        Ofrecemos diferentes tratamientos para tu necesidad.
    </p>
    <span class="text-lg font-light text-negro mb-8">Todo lo que tu sonrisa pide, en DentSalud93 lo tenemos. Conoce las diferentes categorías que tenemos para ti.</span>
</div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-5">
        <!-- Servicio 1 -->
        <div class="bg-blanco p-6 rounded-lg shadow-md hover:bg-negro hover:text-blanco transition duration-300">
          <div class="flex items-center mb-4">
            <span class="material-symbols-rounded text-4xl text-azul">health_and_safety</span>
            <h3 class="ml-4 text-2xl font-semibold">Ortodoncia profesional</h3>
          </div>
          <p class="text-gris mb-4">La ortodoncia mejora la alineación de los dientes y corrige problemas de mordida.¡transforma tu sonrisa con un especialista!</p>
          <a href="/ortodoncia" class="text-azul font-bold hover:underline" aria-label="Ortodoncia - Descubre cómo transformar tu sonrisa">Ver más</a>
        </div>
  
        <!-- Servicio 2 -->
        <div class="bg-blanco p-6 rounded-lg shadow-md hover:bg-negro hover:text-blanco transition duration-300">
          <div class="flex items-center mb-4">
            <span class="material-symbols-rounded text-4xl text-azul">favorite</span>
            <h3 class="ml-4 text-2xl font-semibold">Implantes dentales</h3>
          </div>
          <p class="text-gris mb-4">Los implantes dentales son raíces artificiales que reemplazan dientes perdidos ¡Vuelve a sonreír con seguridad!</p>
          <a href="/periodoncia" class="text-azul font-bold hover:underline" aria-label="Periodoncia - Mantén tus encías saludables">Ver más</a>
        </div>
  
        <!-- Servicio 3 -->
        <div class="bg-blanco p-6 rounded-lg shadow-md hover:bg-negro hover:text-blanco transition duration-300">
          <div class="flex items-center mb-4">
            <span class="material-symbols-rounded text-4xl text-azul">dentistry</span>
            <h3 class="ml-4 text-2xl font-semibold">Blanqueamiento dental</h3>
          </div>
          <p class="text-gris mb-4">Nuestro tratamiento estético excelente para eliminar imperfecciones de tus dientes. ¡Haz brillar tu sonrisa!</p>
          <a href="/blanqueamiento" class="text-azul font-bold hover:underline" aria-label="Blanqueamiento - Descubre cómo tener una sonrisa más blanca">Ver más</a>
        </div>
  
        <!-- Servicio 4 -->
        <div class="bg-blanco p-6 rounded-lg shadow-md hover:bg-negro hover:text-blanco transition duration-300">
          <div class="flex items-center mb-4">
            <span class="material-symbols-rounded text-4xl text-azul">construction</span>
            <h3 class="ml-4 text-2xl font-semibold">Coronas dentales</h3>
          </div>
          <p class="text-gris mb-4">Son fundas que cubren dientes dañados o debilitados, restaurando su forma, función y estética. ¡Protege y renueva tu sonrisa!</p>
          <a href="/implantes" class="text-azul font-bold hover:underline" aria-label="Implantes - Soluciones para restaurar tu sonrisa">Ver más</a>
        </div>
  
        <!-- Servicio 5 -->
        <div class="bg-blanco p-6 rounded-lg shadow-md hover:bg-negro hover:text-blanco transition duration-300">
          <div class="flex items-center mb-4">
            <span class="material-symbols-rounded text-4xl text-azul">brush</span>
            <h3 class="ml-4 text-2xl font-semibold">Odontopediatria</h3>
          </div>
          <p class="text-gris mb-4">El cuidado dental de niños, asegurando una sonrisa sana desde pequeños. ¡La salud dental comienza en la infancia!</p>
          <a href="/profilaxis" class="text-azul font-bold hover:underline" aria-label="Profilaxis - Limpiezas profesionales para tu salud bucal">Ver más</a>
        </div>
  
        <!-- Servicio 6 -->
        <div class="bg-blanco p-6 rounded-lg shadow-md hover:bg-negro hover:text-blanco transition duration-300">
          <div class="flex items-center mb-4">
            <span class="material-symbols-rounded text-4xl text-azul">emoji_nature</span>
            <h3 class="ml-4 text-2xl font-semibold">Cirugias orales</h3>
          </div>
          <p class="text-gris mb-4">Nos encargamos de tratar afecciones, lesiones o malformaciones de la boca, dientes, mandíbula y rostro.</p>
          <a href="/estetica-dental" class="text-azul font-bold hover:underline" aria-label="Estética Dental - Tratamientos personalizados para tu sonrisa">Ver más</a>
        </div>
      </div>
    </div>
  </section>
  