
<div class="flex justify-center p-8 relative">
    <div class="relative overflow-hidden w-full max-w-[100%]">
      <div class="flex transition-transform duration-300 ease-in-out" id="carousel">
            <!-- Tarjeta 1 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t1.webp" alt="Tarjeta 1" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 2 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t2.webp" alt="Tarjeta 2" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 3 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t3.webp" alt="Tarjeta 3" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 4 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t4.webp" alt="Tarjeta 4" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 5 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t5.webp" alt="Tarjeta 1" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 6 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t6.webp" alt="Tarjeta 2" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 7 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t7.webp" alt="Tarjeta 3" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 8 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t8.webp" alt="Tarjeta 4" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 9 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t9.webp" alt="Tarjeta 1" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 10 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t10.webp" alt="Tarjeta 1" class="mb-4">
                </div>
            </div>
            <!-- Tarjeta 11 -->
            <div class="carousel-item rounded-lg">
                <div class="text-center">
                    <img src="/img/tarjetas/t11.webp" alt="Tarjeta 1" class="mb-4">
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>

<script>
    
</script>

