<header class="bg-negro text-blanco w-full p-5">
    <a href="/" class="flex items-center hover:scale-90">
    <span class="material-symbols-rounded">Arrow_back_ios</span>
    <span>Volver al inicio</span>
    </a>
</header>