<header class="min-h-screen w-full bg-gradient-to-t from-primario to-negro px-5 py-5" id="inicio">
  <!-- Navegación -->
  <nav class="p-3 backdrop-blur w-full flex flex-wrap items-center justify-between rounded-xl">
    <!-- Logo y título -->
    <a href="/" rel="noopener noreferrer" class="flex items-center gap-2 text-blanco">
      <img src="/img/logo.webp" alt="logo header" width="40px" height="40px" />
      <div>
        <h1 class="text-[20px] font-medium">DentSalud 93</h1>
        <p class="text-[12px] font-light -mt-1">Más que una sonrisa</p>
      </div>
    </a>

    <button
        id="menu-toggle"
        class="lg:hidden text-blanco focus:outline-none focus:ring-2 focus:ring-blanco"
        aria-label="Toggle menu"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    </div>

    <!-- Menú -->
    <ul
      id="menu"
      class="hidden w-full mt-4 lg:mt-0 lg:w-auto lg:flex lg:flex-row flex-col lg:gap-5 text-blanco bg-negro lg:bg-transparent lg:relative"
    >
      <li class="hover:scale-110 transition-all duration-200 ease-in-out p-2 hover:bg-negro rounded-lg hover:border hover:border-blanco active:scale-95">
        <a href="#inicio" aria-label="inicio">Inicio</a>
      </li>
      <li class="hover:scale-110 transition-all duration-200 ease-in-out p-2 hover:bg-negro rounded-lg hover:border hover:border-blanco active:scale-95">
        <a href="#servicios" aria-label="tratamientos">Tratamientos</a>
      </li>
      <li class="hover:scale-110 transition-all duration-200 ease-in-out p-2 hover:bg-negro rounded-lg hover:border hover:border-blanco active:scale-95">
        <a href="#contacto" aria-label="contactos">Contacto</a>
      </li>
      <li class="hover:scale-110 transition-all duration-200 ease-in-out p-2 hover:bg-negro rounded-lg hover:border hover:border-blanco active:scale-95">
        <a href="#canales" aria-label="canales de atencion">Canales de atención</a>
      </li>
    </ul>

     <!-- Botón de contacto -->
     <div class="mt-2">
      <div class="relative group">
        <a href="https://wa.link/utb6ha" target="_blank" aria-label="contacto">
          <button class="relative inline-block p-px font-semibold leading-6 text-white shadow-2xl cursor-pointer rounded-lg shadow-primario transition-all duration-300 ease-in-out hover:scale-105 active:scale-95 hover:shadow-negro">
            <span class="absolute inset-0 rounded-lg bg-gradient-to-r from-blanco via-primario to-blanco p-[2px] opacity-0 transition-opacity duration-500 group-hover:opacity-100"></span>
            <span class="relative z-10 block px-5 py-3 rounded-lg bg-neutral-900">
              <div class="relative z-10 flex items-center space-x-3">
                <span class="transition-all duration-500 group-hover:translate-x-1.5 group-hover:text-primario">Contactanos</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 transition-all duration-500 group-hover:translate-x-1.5 group-hover:text-primario">
                  <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path>
                </svg>
              </div>
            </span>
          </button>
        </a>
      </div>
    </div>
  </nav>

  <!-- Contenido principal -->
  <div class="mt-10 lg:mt-0 flex flex-col justify-center items-center gap-5 h-[80vh] text-center">
    <div class="text-blanco flex justify-center items-center gap-2">
      <span class="material-symbols-rounded">pin_drop</span>
      <p>
        <a href="https://maps.google.com/maps?ll=4.591786,-74.097769&z=15&t=m&hl=es-419&gl=CO&mapclient=embed&cid=15560015309859230341" target="_blank">Carrera 24 #06 36 sur, Bogota D.C</a>
      </p>
    </div>

    <div class="text-blanco">
      <p class="text-2xl lg:text-4xl font-semibold">
        Es momento de darle una nueva personalidad a tu rostro, en DentSalud no solo transformamos sonrisas, también vidas.
      </p>
      <span>Contáctanos y obtén la mejor asesoría de Bogotá.</span>
    </div>

    <!-- Estadísticas -->
    <div class="flex flex-wrap lg:flex-nowrap justify-center items-center gap-10 mt-4">
      <div class="text-center bg-[radial-gradient(circle_280px_at_0%_0%,_#444444,_#0c0d0d)] p-5 w-[180px] lg:w-[280px] h-[150px] rounded-lg flex flex-col justify-center items-center">
        <p class="lg:text-[50px] text-[40px] font-bold text-blanco">+1000</p>
        <span class="text-blanco">Clientes</span>
      </div>
      <div class="text-center bg-[radial-gradient(circle_280px_at_0%_0%,_#444444,_#0c0d0d)] p-5 w-[180px] lg:w-[280px] h-[150px] rounded-lg flex flex-col justify-center items-center">
        <p class="lg:text-[50px] text-[40px] font-bold text-blanco">+10</p>
        <span class="text-blanco">Tratamientos diferentes</span>
      </div>
      <div class="text-center bg-[radial-gradient(circle_280px_at_0%_0%,_#444444,_#0c0d0d)] p-5 w-[180px] lg:w-[280px] h-[150px] rounded-lg flex flex-col justify-center items-center">
        <p class="lg:text-[50px] text-[40px] font-bold text-blanco">+2</p>
        <span class="text-blanco">Métodos de financiamiento</span>
      </div>
    </div>
  </div>
</header>
