<section class="relative bg-gray-50 py-10 px-5" id="contacto">
  <div class="text-negro text-center mt-10 px-4">
    <h2 class="text-4xl font-semibold mb-4">
      Contáctanos y sé parte de la familia DentSalud93
    </h2>
    <p class="text-lg text-gray-700">
      Que nada sea una excusa para mejorar tu apariencia. ¡Contáctanos y valida tu plan con nosotros!
    </p>
  </div>

  <div class="mt-6 px-4">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15908.049849467505!2d-74.097769!3d4.591786!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f991f287c332f%3A0xd7f0477bdbcc9285!2sDentsalud93!5e0!3m2!1ses-419!2sco!4v1734547536569!5m2!1ses-419!2sco" 
      class="w-full h-96 border-0 rounded-lg shadow-md"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      aria-label="Mapa de ubicación de DentSalud93">
    </iframe>
  </div>
</section>
